body {
  font-family: sans-serif;
  width: 300px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hints {
  display: flex;
  justify-content: space-between;
}

#hint-container,
#error-container {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.leetcode-reward-popup {
  padding: 20px;     /* More internal space */
  min-width: 280px;  /* Minimum width */
  min-height:100px;
  font-size: 1.1em;  /* Slightly larger text */
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateX(0);
}

.time-added {
  font-weight: bold;
}

.total-time {
  font-size: 0.9em;
}